name: Deploy to S3

on:
  push:
    branches:
      - dev-sbrebeck
      - dev-simon
      - dev-glenn
      - dev-jonas
      - dev-nils
      - dev-daniel
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci

      - name: Build App
        run: npm run build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: S3 Deploy
        uses: Reggionick/s3-deploy@v4.0.0
        with:
          folder: dist
          bucket: ${{ secrets.S3_DEV_BUCKET }}/${{ github.ref_name }}
          bucket-region: ${{ secrets.S3_BUCKET_REGION }}
          dist-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID_MULTI }}
          invalidation: /
          delete-removed: ${{ github.ref_name }}/**
          no-cache: true
          private: true
          files-to-include: '{.*/**,**}'
